# macOS internals
.DS_Store

# NPM-related
node_modules
npm-debug.log*

# Terraform runtime
.terraform
.terraform.tfstate.lock.info

# Terraform state
*.tfstate
*.tfstate.backup

# Development-related
/env
.env
TODO
